{{define "content"}}
<div id="content">
	<div id="terminal"></div>
</div>

<link rel="stylesheet" href="/xterm.js/src/xterm.css"/>
<script src="/xterm.js/dist/xterm.js"></script>
<script src="/xterm.js/addons/attach/attach.js"></script>
<script>
    var terminalContainer = document.getElementById('#terminal');
    var term = new Terminal();
    term.open(terminalContainer);
    term.resize(80, 24);

    path = "/ws/console/";
    socketURL = "ws://"+window.location.hostname+":"+window.location.port+path;
    socket = new WebSocket(socketURL);
    socket.onopen = runterminal;

    function runterminal() {
        term.attach(socket);
        term._initialized = true;
    };
</script>
{{end}}
