    {{define "content"}}
    <div id="app">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8">
            <br>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span style="font-size:32px">{{"{{"}} selectedView {{"}}"}} Graph <span class="caret"></span></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" v-on:click="selectedView = 'Dandelion'">Dandelion Graph</a></li>
                <li><a href="#" v-on:click="selectedView = 'Host-Centric'">Host-Centric Graph</a></li>
                <li><a href="#" v-on:click="selectedView = 'VLAN-Centric'">VLAN-Centric Graph</a></li>
              </ul>
            </div>

            <br>

            <host-centric-graph v-if="selectedView == 'Host-Centric'"></host-centric-graph>
            <dandelion-graph v-if="selectedView == 'Dandelion'"></dandelion-graph>
            <vlan-centric-graph v-if="selectedView == 'VLAN-Centric'" v-on:vlan-selected="vlanNodeClicked($event)"></vlan-centric-graph>
          </div>

          <div class="col-xs-4">
            <vlan-list-group ref="list"></vlan-list-group>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/libs/d3.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/underscore.js"></script>
    <script type="text/javascript" src="/libs/underscore.string.js"></script>
    <script type="text/javascript" src="/libs/vue.min.js"></script>
    <script type="text/javascript" src="/libs/vuex.min.js"></script>

    <script type="text/javascript" src="/js/graph/filters/formatVMField.js"></script>
    <script type="text/javascript" src="/js/graph/utils/BoxForce.js"></script>

    <script type="text/javascript" src="/js/graph/components/MmCanvas.js"></script>
    <script type="text/javascript" src="/js/graph/components/MmGraph.js"></script>
    <script type="text/javascript" src="/js/graph/components/MmModal.js"></script>

    <script type="text/javascript" src="/js/graph/components/VmDetails.js"></script>
    <script type="text/javascript" src="/js/graph/components/VMTable.js"></script>
    <script type="text/javascript" src="/js/graph/components/VLANListGroup.js"></script>

    <script type="text/javascript" src="/js/graph/components/DandelionGraph.js"></script>
    <script type="text/javascript" src="/js/graph/components/HostCentricGraph.js"></script>
    <script type="text/javascript" src="/js/graph/components/VLANCentricGraph.js"></script>

    <script type="text/javascript" src="/js/graph/store/index.js"></script>
    <script type="text/javascript" src="/js/graph/main.js"></script>
    {{end}}
