{{template "header"}}
<body>
{{template "nav"}}

	<link rel="stylesheet" type="text/css" href="/include/css/graph.css">

	<div id="container">
		<div id="chart" class="copy-theme"></div>
		<div id="sidebar-container">
			<div id="sidebar" class="copy-theme">
				<div id="node-data" class="uninitialized">
					<div id="node-heading">
						<h1 id="node-name"></h1>
						<span id="node-count"></span>
					</div>
					<ul id="subnodes">
					</ul>
					<div id="node-info">
						<table>
						</table>
					</div>
				</div>
			</div>
			<div id="popup" class="copy-theme sidepoint hidden">
				<h1 id="machine-name">vm-foo</h1>
				<div id="machine-info">
					<table>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="/d3/d3.min.js"></script>
	<script type="text/javascript" src="/d3/grapher/grapher.js"></script>
	<!-- <script type="text/javascript" src="/d3/grapher/center.js"></script> -->
	<script type="text/javascript" src="/d3/grapher/palette.js"></script>
	<script type="text/javascript" src="/d3/grapher/target.js"></script>
	<script type="text/javascript" src="/d3/grapher/zoom.js"></script>
	<script type="text/javascript" src="/include/js/graph.js"></script>
</body>
{{template "footer"}}
