<!DOCTYPE html>
<html>
	<head>
		<title>minimega</title>

		<link rel="stylesheet" type="text/css" href="/include/css/nav.css">
	</head>
	<body>

		{{ template "fragment/nav" }}

		<table id="{{ .ID }}" class="{{ .Class }}" cellspacing="0">
			<thead>
				<tr>
					{{ range .Header }}
					<th>{{ . }}</th>
					{{ end }}
				</tr>
			</thead>
			<tbody>
				{{ range .Tabular }}
				<tr>
					{{ range . }}
					<td>{{ . }}</td>
					{{ end }}
				</tr>
				{{ end }}
			</tbody>
		</table>

		{{ template "include/jQuery" }}
		{{ template "include/dataTables" }}

		<script type="text/javascript" language="javascript" src="/include/js/hosts.js"></script>
	
	</body>
</html>
