{{define "nav"}}
<div id="nav">
    <ul>
      <!--<li><a href="/vnc">Host List</a></li>-->
      <li><a href="/all">All VMs</a></li>
      <li><a href="/tile">VM Tile</a></li>
      <li><a href="/stats">Host Stats</a></li>
      <li><a href="/errors">VM Errors</a></li>
      <li><a href="/state">State of Health</a></li>
      <li><a href="/map">VM Map</a></li>
      <!-- <li><a href="/gui/graph">Graph</a></li>
	   <li><a href="/gui/terminal/terminal.html">Terminal(concept)</a></li>-->
  </ul>
</div>
{{end}}
