<!DOCTYPE html>
<html>
	<head>
		<title>minimega</title>

		{{ template "include/style" }}
		{{ template "include/dataTables.css" }}
	</head>
	<body>

		{{ template "fragment/nav" }}

		<table id="{{ .ID }}" class="{{ .Class }}" cellspacing="0">
			<thead>
				<tr>
					{{ range .Header }}
					<th>{{ . }}</th>
					{{ end }}
				</tr>
			</thead>
			<tbody>
				{{ range .Tabular }}
				<tr>
					{{ range . }}
					<td>{{ . }}</td>
					{{ end }}
				</tr>
				{{ end }}
			</tbody>
		</table>

		<div style="color:#006400"> Toggle Columns:
			{{ range $i, $v := .Header }}
			<a class="toggle-vis" data-column="{{ $i }}">{{ $v }}</a>
			{{ end }}
		</div>

		{{ template "include/jQuery" }}
		{{ template "include/dataTables.js" }}

		<script type="text/javascript" language="javascript" src="/include/js/table.js"></script>

	</body>
</html>
