<!DOCTYPE html>
<html>
	<head>
		<title>minimega</title>

		{{ template "include/style" }}
		{{ template "include/dataTables.css" }}
	</head>
	<body>

		{{ template "fragment/nav" }}

		<div style="overflow: hidden; margin: 10px;" >
			{{ range . }}
			<div style="float: left; position: relative; padding-right: 4px; padding-bottom: 3px;">
				{{ template "fragment/screenshot" . }}
			</div>
			{{ end }}
		</div>

		{{ template "include/jQuery" }}
		{{ template "include/dataTables.js" }}

		<script type="text/javascript" language="javascript" src="/include/js/table.js"></script>

	</body>
</html>
