<!doctype html>
<!--
    - igorweb.html
    - This file holds the visual aspects of IgorWeb, sent from the server on a request to /.
    - All static files in IgorWeb are referenced from this file.
    - End of the file has javascript template variables that are filled by web.go
    -      for initial reservation information. The rest comes from requests made
    -      by igorweb.js.
-->

<html lang="en-US">
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta charset="UTF-8">

  <title>igorweb</title>

  <!-- Style files -->
  <link href="static/style/bootstrap.min.css" rel="stylesheet">
  <link
    href="static/style/open-iconic/font/css/open-iconic-bootstrap.min.css"
    rel="stylesheet"
  >
  <link href="static/style/igorweb.css" rel="stylesheet">
</head>
<body style="background-color: whitesmoke; padding-top: 80px;">
  <div id="app" v-on:click="clearSelection()">
    <!-- Navigation bar -->
    <nav class="navbar fixed-top navbar-dark">
      <!-- IgorWeb logo -->
      <span
        class="navbar-brand"
        style="margin-left: 10%; color: white; font-size: 2.25em; font-family: Logo, sans-serif;"
      >
        <b>Igor</b>
        <i>Web</i>
      </span>

      <!-- Text that shows how many nodes are selected -->
      <span
        style="color: white; font-size: 1.25em; font-weight: bold; display: none;"
      ></span>

      <!-- New reservation button, floating blue plus -->
      <div
        class="clickable"
        data-placement="bottom"
        data-toggle="tooltip"
        id="newbutton"
        title="Make a new reservation"
        v-on:click="showNewResForm()"
      >+</div>
    </nav>

    <alert :message="alertMessage"></alert>

    <reservation-info v-on:res-action="handleReservationAction"></reservation-info>

    <div
      class="mx-auto fixed-bottom card active"
      id="actionbar"
      v-if="selectedReservation != null"
    >
      <button
        class="igorbtn btn btn-outline-light actionbar"
        v-if="selectedReservation != null"
        v-on:click="showDeleteModal()"
      >Delete Reservation</button>

      <button
        class="igorbtn btn btn-outline-light actionbar"
        v-if="selectedReservation != null"
        v-on:click="showPowerModal()"
      >Power Control</button>

      <button
        class="igorbtn btn btn-outline-light actionbar"
        v-if="selectedReservation != null"
        v-on:click="showExtendModal()"
      >Extend Reservation</button>

      <span
        class="close clickable closeactionbar"
        v-on:click="clearSelection()"
      >&times;</span>
    </div>

    <new-reservation-modal ref="newResModal"></new-reservation-modal>
    <edit-reservation-modal ref="editResModal"></edit-reservation-modal>
    <delete-reservation-modal ref="deleteModal"></delete-reservation-modal>
    <power-modal ref="powerModal"></power-modal>
    <extend-reservation-modal ref="extendModal"></extend-reservation-modal>
  </div>

  <!-- Scripts -->
  <script>
  <!-- Set some globals provided by the Go template -->
  var STARTNODE = {{ .RangeStart }};
  var ENDNODE = {{ .RangeEnd }};
  var RACKWIDTH = {{ .RackWidth }};
  var CLUSTER = {{ .Prefix }};
  var INITIALRESERVATIONS = {{ .ResTable }};
  </script>

  <script src="static/libs/jquery-3.3.1.min.js" type="text/javascript"></script>
  <script src="static/libs/bootstrap.min.js" type="text/javascript"></script>
  <script src="static/libs/vue.min.js" type="text/javascript"></script>
  <script src="static/libs/vuex.min.js" type="text/javascript"></script>
  <script src="static/scripts/Alert.js" type="text/javascript"></script>
  <script src="static/scripts/KeyCard.js" type="text/javascript"></script>
  <script src="static/scripts/LoadingModal.js" type="text/javascript"></script>
  <script src="static/scripts/SpeculateTable.js" type="text/javascript"></script>
  <script src="static/scripts/NewReservationModal.js" type="text/javascript"></script>
  <script src="static/scripts/EditReservationModal.js" type="text/javascript"></script>
  <script src="static/scripts/DeleteReservationModal.js" type="text/javascript"></script>
  <script src="static/scripts/ExtendReservationModal.js" type="text/javascript"></script>
  <script src="static/scripts/PowerModal.js" type="text/javascript"></script>
  <script src="static/scripts/ReservationTableRow.js" type="text/javascript"></script>
  <script src="static/scripts/ReservationTable.js" type="text/javascript"></script>
  <script src="static/scripts/Node.js" type="text/javascript"></script>
  <script src="static/scripts/NodeGrid.js" type="text/javascript"></script>
  <script src="static/scripts/ReservationInfo.js" type="text/javascript"></script>
  <script src="static/scripts/store.js" type="text/javascript"></script>
  <script src="static/scripts/main.js" type="text/javascript"></script>
</body>
</html>
