# https://editorconfig.org/
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8

[*.py]
max_line_length = 88
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
insert_final_newline = unset

[Makefile]
indent_style = tab
insert_final_newline = true

[*.{ps1,bat}]
end_of_line = crlf

[*.{xml,xslt}]
indent_size = 2

[*.{md,mdx}]
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[Dockerfile*]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.lua]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.toml]
insert_final_newline = true
trim_trailing_whitespace = true
