bin
volatile
internal/version/version.go
*.swp
*.pyc
__pycache__
venv/
doc/content/articles/api.article
doc/content/articles/minirouter_api.article
lib/dist
lib/MANIFEST
lib/minimega.py
tests/*.got
tests/*/*.got
.DS_Store*
*.deb
*.changes
*.buildinfo
*.ddeb
*.rpm
packaging/debian/.debhelper/
packaging/debian/debhelper-build-stamp
packaging/debian/files
packaging/debian/minimega.debhelper.log
packaging/debian/minimega.postinst.debhelper
packaging/debian/minimega.postrm.debhelper
packaging/debian/minimega.prerm.debhelper
packaging/debian/minimega.service
packaging/debian/minimega.substvars
packaging/debian/minimega/DEBIAN/control
packaging/debian/minimega/DEBIAN/md5sums
packaging/debian/minimega/DEBIAN/postrm
packaging/debian/minimega/DEBIAN/prerm
packaging/debian/tmp/
packaging/debian/minimega/
lib/minimega.egg-info/
