pkg
bin
volatile
src/version/version.go
*.swp
*.pyc
__pycache__
venv/
/minimega.py
doc/content/articles/api.article
doc/content/articles/minirouter_api.article
tests/*.got
tests/*/*.got
phenix/phenix.bdb