pkg
bin
volatile
src/version/version.go
*.swp
*.pyc
__pycache__
venv/
doc/content/articles/api.article
doc/content/articles/minirouter_api.article
lib/dist
lib/MANIFEST
lib/minimega.py
tests/*.got
tests/*/*.got
.DS_Store*
