namespace {{ .ExperimentName }}
ns queueing true

# How do we track `runlocal`
{{ if runlocal }}
ns del-host all
ns add-host localhost
{{ end }}

{{ range .Nodes }}

{{ $vm_name := {{ .ExperimentName }}_{{ .General.Hostname }} }}
# guessing on referencing a built in function Hostname()
{{ $hostname := .Hostname }}
{{ $snapshot_name := {{ $hostname }}_{{ .ExperimentName }}_{{ .General.Hostname }}_snapshot }}
{{ $vm_type := KVM_OR_CONTAINER }}

# need to deal with vm_disk and vm_disk_image and vm_disk_rest
# <path>,<interface>,<cache mode>
{{ $vm_disk := COMPLETE_ME }}
{{ $vm_disk_image := COMPLETE_ME }}
{{ $vm_disk_rest := COMPLETE_ME }}

# does vm_inject need to be included in if statement
{{ if .General.Snapshot }}
disk snapshot {{ $vm_disk_image }} {{ $snapshot_name }} 
disk inject {{ $snapshot_name }}:{{ .Drive.InjectPartition }} files {{ .Injection.Src }}:{{ .Injection.Dst }}
{{ end }}
clear vm config
{{ if .Schedule.Hostname }}
vm config schedule {{ .Schedule.ClusterNode }}
{{ end }}
vm config vcpus {{ .Hardware.VCPU }}
vm config cpu {{ .Hardware.CPU }}
vm config memory {{ .Hardware.Memory }}
vm config snapshot {{ .General.Snapshot }}
# does vm_inject need to be included in if statement
{{ if .General.Snapshot }}
vm config disk {{ $snapshot_name }} {{ $vm_disk_rest }}
{{ else }}
vm config disk {{ $vm_disk }} {{ $vm_disk_rest }}
{{ end }}
# does linux need ""
{{ if .Hardware.OSType eq "linux" }}
vm config qemu-append -vga qxl
{{ end }}
vm config net {{ .VLAN.Name }}
vm launch {{ $vm_type }} {{ $vm_name }}

{{ end }}