# Launch three foos, one in default namespace, others in ns1 and ns2
vm launch kvm foo
vm launch
.columns name,state vm info
namespace ns1
.columns name,state vm info
vm launch kvm foo
vm launch
.columns name,state vm info
namespace ns2
.columns name,state vm info
vm launch kvm foo
vm launch
.columns name,state vm info
clear namespace

# Change VM states, all should only apply within a given namespace
namespace ns1 vm start all
.columns name,state vm info
namespace ns1 .columns name,state vm info
namespace ns2 .columns name,state vm info
namespace ns2 vm kill all
.columns name,state vm info
namespace ns1 .columns name,state vm info
namespace ns2 .columns name,state vm info
namespace ns2 vm flush
.columns name,state vm info
namespace ns1 .columns name,state vm info
namespace ns2 .columns name,state vm info

# Test clear/delete namespace
namespace ns3
namespace ns3
clear namespace
clear namespace
