Source: minimega
Section: utils
Priority: extra
Maintainer: Arthur Hernandez <aherna4@sandia.gov>, Jacob Davis <jacdavi@sandia.gov>
Build-Depends: dh-systemd
Vcs-Browser: https://github.com/sandia-minimega/minimega/
Vcs-Git: https://github.com/sandia-minimega/minimega.git

Package: minimega
Architecture: amd64
Homepage: https://www.sandia.gov/minimega
Depends: qemu-kvm,
         qemu-utils,
         openvswitch-switch,
         dnsmasq,
         dosfstools,
         ntfs-3g,
         libpcap-dev
Description: a distributed VM management tool.
 minimega is a tool for launching and managing virtual machines. It can run on
 your laptop or distributed across a cluster. minimega is fast, easy to deploy,
 and can scale to run on massive clusters with virtually no setup.
