#graphContainer {
  width:1430px;
  height:400px;
  position:relative;
  overflow:hidden;
  background:url('https://jgraph.github.io/mxgraph/javascript/examples/editors/images/grid.gif');
  cursor:default;
}

#json {
  border:1px solid black;
  width:1430px;
  height:400px;
  overflow:scroll;
  color:black;
  td{
    border:1px solid black;
    width:50%;
  }
  #from,#to{
    width:100%;
    height:100%;
  }
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }