body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	/*font-size: 16px;*/
}
pre,
code {
	font-family: Menlo, monospace;
	font-size: 0.8em;
}
pre {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}
a {
	color: #375EAB;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p, ul, ol {
	margin: 1em;
}

h1, h2, h3, h4 {
	margin: .4em 0;
	padding: 0;
	color: #375EAB;
	font-weight: bold;
}
h1 {
	padding: .1em .1em;
	font-size: 1.6em;
	background: #E0EBF5;
}
h2 {
	font-size: 1.4em;
	padding: .1em .1em;
}
h3 {
	font-size: 1.2em;
	color: #1D435E;
}
h3, h4 {
	margin: .2em .4em;
}
h4 {
	font-size: 1.1em;
	color: #111111;
}

img {
	margin: 0.2em 1em;
}

div#topbar {
	margin: 0;
	padding: .8em 1.2em;
	font-size: 1.2em;
	font-weight: normal;
	background: #E0EBF5;
	width: 100%;
}


body {
	text-align: center;
}
div#page {
	width: 100%;
}

div#page > .container,
div#topbar > .container {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	/*width: 900px;*/
}
div#page.wide > .container,
div#topbar.wide > .container {
	width: auto;
}

div#footer {
	text-align: center;
	color: #666;
	font-size: 14px;
	margin: 40px 0;
}

.author p {
	margin: 20, 0, 0, 0px;
}

div.code,
div.output {
	margin: 20px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.code { background: #e9e9e9; }
div.output { background: black; }
div.output .stdout { color: #e6e6e6; }
div.output .stderr { color: rgb(244, 74, 63); }
div.output .system { color: rgb(255, 209, 77) }

.buttons {
	margin-left: 20px;
}
div.output .buttons {
	margin-left: 0;
	margin-bottom: 10px;
}

#toc {
	float: right;
	margin: 0px 10px;
	padding: 10px;
	border: 1px solid #e5ecf9; 
	background-color: white;
	max-width: 33%;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#toc ul, #toc a {
	list-style-type: none;
	padding-left: 10px;
	color: black;
	margin: 0px;
}
