{{ if eq .Hardware.OSType "linux" }}
auto lo
iface lo inet loopback
    {{ range $idx, $iface := .Network.Interfaces }}
auto eth{{ $idx }}
allow-hotplug eth{{ $idx }}
        {{ if eq $iface.Address "" }}
iface eth{{ $idx }} inet manual
        {{ else if eq $iface.Proto "dhcp" }}
iface eth{{ $idx }} inet dhcp
        {{ else }}
iface eth{{ $idx }} inet static
address {{ $iface.Address }}
netmask {{ $iface.NetworkMask }}
            {{ if ne $iface.Gateway "" }}
gateway {{ $iface.Gateway }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ range $idx, $iface := .Network.Interfaces }}
auto ens{{ add $idx 1 }}
allow-hotplug ens{{ add $idx 1 }}
        {{ if eq $iface.Address "" }}
iface ens{{ add $idx 1 }} inet manual
        {{ else if eq $iface.Proto "dhcp" }}
iface ens{{ add $idx 1 }} inet dhcp
        {{ else }}
iface ens{{ add $idx 1 }} inet static
address {{ $iface.Address }}
netmask {{ $iface.NetworkMask }}
            {{ if ne $iface.Gateway "" }}
gateway {{ $iface.Gateway }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ else if eq .Hardware.OSType "centos" }}
    {{ range $idx, $iface := .Network.Interfaces }}   
DEVICE=eth{{ $idx }}
        {{ if eq $iface.Proto "dhcp" }}
BOOTPROTO=dhcp
ONBOOT=yes
        {{ else if eq $iface.Address ""}}
BOOTPROTO=none
ONBOOT=yes
        {{ else }}
BOOTPROTO=none
ONBOOT=yes
IPADDR={{ $iface.Address }}
NETMASK={{ $iface.NetworkMask }}
            {{ if ne $iface.Gateway "" }}
GATEWAY={{ $iface.Gateway }}
            {{ end }}
USERCTL=none
        {{ end }}
    {{ end }}
{{ end }}
