namespace {{ .ExperimentName }}
ns queueing true

{{- if .RunLocal -}}
ns del-host all
ns add-host localhost
{{- end -}}

{{- range .Topology.Nodes }}
{{/* added space to place hostname above relevant block */}}
## VM: {{ .General.Hostname }} ##
    {{- if .General.Snapshot -}}
    {{ $firstDrive := index .Hardware.Drives 0 }}
disk snapshot {{ $firstDrive.Image }} {{ $.SnapshotName .General.Hostname }} 
        {{- if gt (len .Injections) 0 }}
disk inject {{ $.SnapshotName .General.Hostname  }}:{{ $firstDrive.InjectPartition }} files {{ .FileInjects }}
        {{- end }}
    {{- end }}
clear vm config
    {{- if ne (index $.Schedules .General.Hostname) "" }}
vm config schedule {{ index $.Schedules .General.Hostname }}
    {{- end }}
vm config vcpus {{ .Hardware.VCPU }}
vm config cpu {{ .Hardware.CPU }}
vm config memory {{ .Hardware.Memory }}
vm config snapshot {{ .General.Snapshot }}
    {{- if .General.Snapshot }}
vm config disk {{ .Hardware.DiskConfig ($.SnapshotName .General.Hostname) }}
    {{- else }}
vm config disk {{ .Hardware.DiskConfig "" }}
    {{- end }}
    {{- if eq .Hardware.OSType "linux" }}
vm config qemu-append -vga qxl
    {{- end }}
vm config net {{ .Network.InterfaceConfig }}
vm launch {{ .General.VMType }} {{ .General.Hostname }}
{{- end }}