# Minimal sshd config to allow passwordless root login
PasswordAuthentication yes
PermitRootLogin yes
PermitEmptyPasswords yes
UsePAM yes

# Printed by PAM instead
PrintMotd no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server
