{{define "layout"}}
<!DOCTYPE html>
<html>
  <head>
    <title>minimega</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/libs/dataTables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/dataTables/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/minimega.css">

    <script type="text/javascript" src="/libs/jquery-3.4.1.min.js"></script>
  </head>
  <body>



    <div id="nav-container">
      <a href="./"><img id="logo" src="/images/minimega.svg" alt=""></a>
      <nav>
        <a class="nav-blue" href="vms">
          <i class="fa fa-desktop fa-2x"></i>
          <span>VMs</span>
        </a>
        <a class="nav-blue" href="tilevnc">
          <i class="fa fa-photo fa-2x"></i>
          <span>VM Screenshots</span>
        </a>
        <a class="nav-blue" href="hosts">
          <i class="fa fa-server fa-2x"></i>
          <span>Hosts</span>
        </a>
        <a class="nav-blue" href="graph">
          <i class="fa fa-sitemap fa-2x"></i>
          <span>Graph</span>
        </a>
        <a class="nav-blue" href="files">
          <i class="fa fa-files-o fa-2x"></i>
          <span>Files</span>
        </a>
        <a class="nav-blue" href="/namespaces">
          <i class="fa fa-users fa-2x"></i>
          <span>Namespaces</span>
        </a>
        <a class="nav-blue" href="/console">
          <i class="fa fa-terminal fa-2x"></i>
          <span>Console</span>
        </a>
      </nav>
    </div>


    {{template "content" .}}


  </body>
</html>
{{end}}
