{{define "content"}}
<div id="content">
    <div id="files-table" class="box">
        <h1 class="box-header">Files: /</h1>
        <div class="box-content">
            <table id="files-dataTable" class="table table-striped table-bordered dataTable no-footer"></table>
        </div>
    </div>
</div>

<script type="text/javascript" src="/libs/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.colVis.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.html5.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.bootstrap4.min.js"></script>

<script type="text/javascript" src="/js/glue.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('nav a[href$="' + "files" + '"]').addClass("current-view");

		var base = "/files/";

		// before is namespace
		var path = window.location.pathname;
		path = path.substr(0, path.indexOf(base));
		// after is subdir
		var subdir = window.location.pathname;
		subdir = subdir.substr(subdir.indexOf(base)+base.length);

		$('nav a').each(function() {
			var href = $(this).attr("href");
			if (!href.startsWith("/")) {
				$(this).attr("href", path+"/"+href);
			}
		});

        initFilesDataTable();
    });
</script>
{{end}}
