    {{define "content"}}
    <div id="content">

      <div id="vms-screenshots" class="box">
        <h1 class="box-header">VM Screenshots</h1>
        <div class="box-content">
          <table id="screenshots-list">
            <thead>
              <tr>
                <th>Name</th>
                <th>Box</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>

    </div>



    <script type="text/javascript" src="/libs/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/libs/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="/libs/dataTables/dataTables.buttons.js"></script>
    <script type="text/javascript" src="/libs/dataTables/buttons.colVis.js"></script>
    <script type="text/javascript" src="/libs/dataTables/buttons.html5.js"></script>
    <script type="text/javascript" src="/libs/dataTables/buttons.bootstrap.js"></script>

    <script type="text/javascript" src="/js/glue.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('nav a[href$="' + "tilevnc" + '"]').addClass("current-view");

        initScreenshotDataTable();
      });
    </script>
    {{end}}
