{{define "content"}}
<div id="content">
    <div id="vms-table" class="box">
        <h1 class="box-header">VM List</h1>
        <div id="vms-switcher"></div>
        <div class="box-content">
            <table id="vms-dataTable" class="table table-striped table-bordered dataTable no-footer"></table>
        </div>
    </div>
</div>

<script type="text/javascript" src="/libs/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.colVis.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.html5.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.bootstrap4.min.js"></script>

<script type="text/javascript" src="/js/glue.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('nav a[href$="' + "vms" + '"]').addClass("current-view");

        if(window.location.hash == "#top") {
            $("#vms-switcher").html("<a href=\"#\" onClick=\"window.location.href='#';window.location.reload();return false;\">Toggle info view</a>");
            initVMTopDataTable();
        } else {
            $("#vms-switcher").html("<a href=\"#top\" onClick=\"window.location.href='#top';window.location.reload();return false;\">Toggle top view</a>");
            initVMInfoDataTable();
        }

        initCowbell();
    });
</script>
{{end}}
