/***************************
 * igorweb.css
 * ------------
 * All styling of elements in igorweb.html
 ***************************/

body {
  font-stretch: condensed;
}

/* change cursor to pointer on hover */
.clickable {
    cursor: pointer;
}

#nodegridcard {
    transition: all 0.7s, background-color 0.15s;
    margin-bottom: 15px;
}

#node-grid {
    table-layout: fixed;
    width: 100%;
}

/* styling of nodes in node grid */
.node, .node:focus {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border: 1px #FFFFFF7A solid;
    margin-bottom: 0px;
    color: black;
    font-size:13px;
    font-weight: 500;

    opacity: 1;
    padding: 8px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}

/* darken text when hovering over node */
.node:hover {
    -webkit-transition-duration: 0.15s !important;
    transition-duration: 0.15s !important;
    color: black;
}

/* when node is selected (click or drag),
        add shadow and change text to white */
.node.active {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.4);
    color: #ffffff;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

/* brighten all nodes (except specific ones) and remove shadows
        when hovering over reservation or key, for contrast */
.light {
    background-color: #f6edff !important;
}
.node.light {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
/* black text for selected nodes */
.node.light.active {
    color: black !important;
}

/* coloring of nodes (and key) based on up/down + available/reserved
        .active for selected nodes (darker background, white text)*/
.node.reserved.down.unselected, .keycolor.reserved.down.unselected {
    background-color: #ffdd9b;
}
.node.reserved.down.active {
    background-color: #d29723;
}
.node.reserved.up.unselected, .keycolor.reserved.up.unselected {
    background-color: #ccdfff;
}
.node.reserved.up.active {
    background-color: #3f73cc;
}
.node.available.down.unselected, .keycolor.available.down.unselected {
    background-color: #ffb5b5;
}
.node.available.down.active {
    background-color: #e85555;
}
.node.available.up.unselected, .keycolor.available.up.unselected {
    background-color: #e7ccff;
}
.node.available.up.active {
    background-color: #a975d6;
}
/* Hovering colors */
.node.reserved.down.unselected:hover {
    background-color: #fce2ae;
}
.node.reserved.down.active:hover {
    background-color: #d1b888;
}
.node.reserved.up.unselected:hover {
    background-color: #e4eeff;
}
.node.reserved.up.active:hover {
    background-color: #7996c9;
}
.node.available.down.unselected:hover {
    background-color: #ffc1c1;
}
.node.available.down.active:hover {
    background-color: #e87474;
}
.node.available.up.unselected:hover {
    background-color: #efe3f9;
}
.node.available.up.active:hover {
    background-color: #ba9bd6;
}

th {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

/* navigation bar */
.navbar {
    -webkit-box-shadow: 0px 4px 40px -5px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 4px 40px -5px rgba(0,0,0,0.38);
    box-shadow: 0px 4px 40px -5px rgba(0#ffdd9b,0,0,0.38);
    background-color: #a975d6;
}

/* new button in navigation bar */
#newbutton {
    position: fixed;
    top: 43px;
    z-index: 5000;
    right: 10%;
}
#newbutton circle {
    fill: #659af5;
    fill-opacity: 1;
    fill-rule: evenodd;
    transition-duration: 0.3s !important;
}
#newbutton:hover circle {
    fill: #88b0f5;
}
#newbutton:active circle {
    fill: #b3ccf7;
}

/* font of logo in navigation bar */
@font-face {
    font-family: Logo;
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
    font-family: Logo;
    font-weight: bold;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}

/* Buttons */
.igorbtn, #keybtn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
/* show/hide key button in navigation bar */
#keybtn:hover {
    color: white !important;
    background-color: #a975d6 !important;
    border-color: white !important;
}
#keybtn:hover.active {
    color: #a975d6 !important;
    background-color: white !important;
}
/* actionbar buttons */
button.actionbar:active, #keybtn.active {
    color: #a975d6 !important;
}
.igorbtn.actionbar:hover {
    color: #a975d6 !important;
    -webkit-box-shadow: 10px 10px 56px -15px rgba(0,40,82,1);
    -moz-box-shadow: 10px 10px 56px -15px rgba(0,40,82,1);
    box-shadow: 10px 10px 56px -15px rgba(0,40,82,1);
}
/* modal buttons */
.igorbtn.modalcommand:hover {
    color: #ffffff !important;
    -webkit-box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.2) !important;
    box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.2) !important;
}
.igorbtn.modalcommand:disabled {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.igorbtn.modalcommand {
    border: none !important;
}
/* actionbar buttons */
button.actionbar {
    margin: 20px;
    margin-right: 0;
    margin-left: 25px;
}
/* actionbar x in top right */
.closeactionbar {
    color: #ffffff !important;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

#actionbar {
    padding: 0 !important;
    bottom: 5%;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0;
    background-color: #a975d6;
    display: inline;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#actionbar.active {
    bottom: 3%;
}
/* reservation actions in actionbar */
.resaction {
    display: none;
}
.resaction.show {
    display: inline;
}

/* all cards in page (node grid, reservation table, and key) */
.card {
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.3);
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    border-radius: 7px;
}
.card:hover {
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.4);
}

/* reservation row in reservation table */
.res {
    -webkit-transition-duration: 0.3s !important;
    transition-duration: 0.3s !important;
}
/* underline and italicize the start time of current reservations */
.current {
    text-decoration: underline;
    font-style: italic;
}
/* purple background, shadow, and white text when reservation is selected */
.res.active {
    color: #ffffff;
    background-color: #a975d6 !important;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.4) !important;
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.4) !important;
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.4) !important;
}
.res.hover {
    background-color: rgba(0,0,0,.075);
}
/* line under reservation table headings */
thead {
    border-bottom: 2px solid lightgray;
}
/* sort arrows in headers of reservation table, show when headers are clicked */
.sortarrow {
    visibility: hidden;
}
.sortarrow.up {
    display: none;
}

/* modals */
.form-group {
    margin-top: 10px;
    margin-bottom: 15px;
}
.modal-body {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
.modal-header, .modal-footer {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
/* command line box at bottom of modals */
.commandline {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e9ecef;
}
.optional {
    color: blue;
}
.modalbtn:disabled {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.modalswitch.active {
    background-color: #858e96 !important;
    border-color: #858e96 !important;
    color: white !important;
    -webkit-box-shadow: inset 1px 1px 45px 0px rgba(0,0,0,0.1) !important;
    -moz-box-shadow: inset 1px 1px 45px 0px rgba(0,0,0,0.1) !important;
    box-shadow: inset 1px 1px 45px 0px rgba(0,0,0,0.1) !important;
}
.modalswitch {
    background-color: #e9ecef;
    border-color: #e9ecef;
}
.modalswitch:hover, .modalswitch:focus {
    background-color: #dde0e4;
    border-color: #dde0e4;
}

/* loader circles that show when a modal button is clicked */
.loader {
    border: 1px solid #b1b1b1;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #ffffff;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    position: absolute;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.modalbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* response box at bottom of modal, shows after a command is complete
        coloring dependent on success failure */
.responseparent {
    background-color: firebrick;
}
.responseparent.success {
    background-color: seagreen;
}
/* copy text button at right side of response box */
.copytooltip {
    position: absolute;
    color: #fff;
    background-color: #000;
    opacity: 0.9;
    font-size: 0.875rem;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    top: 80%;
}

/* hover on key table cells */
.tdhover {
    -webkit-transition-duration: 0.3s !important;
    transition-duration: 0.3s !important;
    vertical-align: middle;
}
.tdhover:hover, .tdhover.hover {
    background-color: rgba(0,0,0,.075);
}
.keycolor {
    width: 50%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}


tr.res td:last-child {
    width: 1%;
    white-space: nowrap;
}
/*
tr.res td {
    width: 1%;
    white-space: nowrap;
}
*/
