h2 {
    font-size: 1em;
	font-weight: bold;
}

div#left {
	clear: left;
	float: left;
	padding: 20px;
	display: block;
	border-right: 1px solid black;
}

div#left ul {
    padding: 0px;
}

div#left li {
    list-style: none;
}

div#right {
    width: auto;
    overflow: hidden;
    padding: 20px;
}