name: RPM Build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm

    - name: Build RPM package
      id: rpm
      run: |
        chmod +x ./packaging/rpm/build.bash
        ./packaging/rpm/build.bash

    - name: Upload artifact
      uses: actions/upload-artifact@v4.0.0
      with:
        name: minimega-rpm
        path: ./minimega/packaging/rpm/rpmbuild/RPMS/*
